@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    font-family: 'YourFont', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  /* styles/globals.css */
  //::-webkit-scrollbar {
  //  width: 6px;
  //  height: 8px;
  //}
  //
  //::-webkit-scrollbar-track {
  //  background: #f3f4f6; /* Tailwind gray-100 */
  //}
  //
  //::-webkit-scrollbar-thumb {
  //  background-color: var(--mint-green-bold); /* Tailwind blue-500 */
  //  border-radius: 8px;
  //  border: 1px solid #f3f4f6;
  //}
  //
  ///* Optional dark mode support */
  //@media (prefers-color-scheme: dark) {
  //  ::-webkit-scrollbar-track {
  //    background: var(--color-grey-darker-black); /* Tailwind gray-800 */
  //  }
  //  ::-webkit-scrollbar-thumb {
  //    background-color: var(--color-material-green-500); /* Tailwind blue-600 */
  //    border: 2px solid var(--color-material-green-500);
  //  }
  //}

  @layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
      background-color: transparent;
    }

    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
      background-color: transparent;
    }
  }

  :root {
    --color-primary: #2A3EDC;
    --color-primary-hover: #3A4CDF;
    --color-primary-soft: #EDEFFC;

    --color-bg: #F6F7FF;
    --color-surface: #FFFFFF;
    --color-surface-alt: #EDEFFC;
    --color-border: 197, 204, 255;

    --text-on-light-primary: hsl(233, 72%, 20%);
    --text-on-light-primary-bg: hsl(233, 72%, 98%);
    --text-on-light-secondary: #162283;
    --text-on-light-muted: #7C88E9;

    --text-on-primary: #FFFFFF;

    --btn-disabled-bg: #D3D7F8;
    --btn-disabled-text: #A7B0F1;


    /* Grey */
    --color-grey-50: #fafafa;
    --color-grey-100: #f5f5f5;
    --color-grey-background: #F2F2F6;
    --color-grey-200: #eeeeee;
    --color-grey-300: #e0e0e0;
    --color-grey-400: #bdbdbd;
    --color-grey-500: #9e9e9e;
    --color-grey-600: #757575;
    --color-grey-700: #616161;
    --color-grey-800: #424242;

    --color-grey-900: #212121;

    /* Red */
    --color-red-50: #ffebee;
    --color-red-100: #ffcdd2;
    --color-red-200: #ef9a9a;
    --color-red-300: #e57373;
    --color-red-400: #ef5350;
    --color-red-500: #f44336;
    --color-red-600: #e53935;
    --color-red-700: #d32f2f;
    --color-red-800: #c62828;
    --color-red-900: #b71c1c;

    /* Purple */
    --color-purple-50: #f3e5f5;
    --color-purple-100: #e1bee7;
    --color-purple-200: #ce93d8;
    --color-purple-300: #ba68c8;
    --color-purple-400: #ab47bc;
    --color-purple-500: #9c27b0;
    --color-purple-600: #8e24aa;
    --color-purple-700: #7b1fa2;
    --color-purple-800: #6a1b9a;
    --color-purple-900: #4a148c;

    /* Deep Purple */
    --color-deep-purple-50: #ede7f6;
    --color-deep-purple-100: #d1c4e9;
    --color-deep-purple-200: #b39ddb;
    --color-deep-purple-300: #9575cd;
    --color-deep-purple-400: #7e57c2;
    --color-deep-purple-500: #673ab7;
    --color-deep-purple-600: #5e35b1;
    --color-deep-purple-700: #512da8;
    --color-deep-purple-800: #4527a0;
    --color-deep-purple-900: #311b92;

    /* Blue */
    --color-blue-50: #e3f2fd;
    --color-blue-100: #bbdefb;
    --color-blue-200: #90caf9;
    --color-blue-300: #64b5f6;
    --color-blue-400: #42a5f5;
    --color-blue-500: #2196f3;
    --color-blue-600: #1e88e5;
    --color-blue-700: #1976d2;
    --color-blue-800: #1565c0;
    --color-blue-900: #0d47a1;

    // Primary Blue Shades
    --color-primary-darkest: #2a3edc; // darkest shade
    --color-primary-disabled: #4a6768; // darkest shade
    --color-primary-darker: #3f54f0;
    --color-primary-dark: #4a63fd;
    --color-primary-old: #536DFE; // base
    --color-primary-light: #677bff;
    --color-primary-lighter: #8492ff;
    --color-primary-lightest: #a0aaff;

    /* Green */
    --color-green-50: #e8f5e9;
    --color-green-100: #c8e6c9;
    --color-green-200: #a5d6a7;
    --color-green-300: #81c784;
    --color-green-400: #66bb6a;
    --color-green-500: #4caf50;
    --color-green-600: #43a047;
    --color-green-700: #388e3c;
    --color-green-800: #2e7d32;
    --color-green-900: #1b5e20;

    /* Amber */
    --color-amber-50: #fff8e1;
    --color-amber-100: #ffecb3;
    --color-amber-200: #ffe082;
    --color-amber-300: #ffd54f;
    --color-amber-400: #ffca28;
    --color-amber-500: #ffc107;
    --color-amber-600: #ffb300;
    --color-amber-700: #ffa000;
    --color-amber-800: #ff8f00;
    --color-amber-900: #ff6f00;


    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);
    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 9%);
    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);
    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(182 64% 47%); /* Converted #29C2C4 to HSL */
    --input: hsl(182 64% 47%);
    --ring: hsl(182 64% 47%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.5rem;
    --panel-radius: 0.75rem;
  }

  .dark {
    --color-primary: #2A3EDC;
    --color-primary-hover: #3A4CDF;
    --color-primary-soft: #192899;

    --color-bg: #060923;
    --color-surface: #090E35;
    --color-surface-alt: #0C1246;
    --color-border: #192899;

    --text-on-dark-primary: #EDEFFC;
    --text-on-dark-secondary: #A7B0F1;
    --text-on-dark-muted: #7C88E9;

    --text-on-primary: #FFFFFF;

    --btn-disabled-bg: #192899;
    --btn-disabled-text: #4B55B2;


    --background: hsl(0 0% 3.9%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);
    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(182 64% 47%);
    --input: hsl(182 64% 47%);
    --ring: hsl(182 64% 47%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
  }
}

@layer utilities {

  .bg-dark-grey-gradient {
    background: linear-gradient(
                    90deg,
                    var(--color-grey-black) 0%,
                    var(--color-grey-absolute-black) 30%,
                    var(--color-grey-black) 90%,
    );
  }

  .bg-dark-grey-to-green-gradient {
    background: linear-gradient(
                    90deg,
                    var(--color-grey-absolute-black) 30%,
                    var(--color-grey-black) 60%,
                    var(--color-grey-darker-black) 90%,
                    var(--color-material-green-800) 95%,
                    var(--color-material-green-900) 98%);
  }

  .bg-dark_primary-color-button {
    background: linear-gradient(
                    135deg,
                    var(--color-purple-medium) 0%,
                    var(--color-purple-medium-dark) 100%);
  }

  .bg-radial-mint {
    background: radial-gradient(
                    circle,
                    var(--color-grey-absolute-black) 5%,
                    var(--color-grey-black) 20%,
                    var(--color-grey-darker-black) 40%,
                    var(--color-material-green-900) 70%,
                    var(--color-material-green-800) 85%,
                    var(--color-material-green-700) 100%
    );
  }

  .gradient-light {
    background: radial-gradient(
                    circle,
                    var(--color-material-green-400) 0%,
                    var(--color-material-green-600) 60%,
                    transparent 50%
    );
    border-radius: 50%;
    filter: blur(40px);
  }

  .bg-primary-to-white-gradient {
    background: linear-gradient(
                    180deg,
                    var(--color-primary) 0%,
                    #ffffff 30%
    );
  }


}